<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table>
  <thead>

  </thead>

  <tbody>
  
  <div class= "card bg-light mb-3" style= "width: 18rem;">
    <% @projects.each do |project| %>
        <p class="Card Title" style="width: 18rem;" <td><%= project.title %></td> </p>
        <p class="Card Text"style="width: 18rem;" <td><%= project.description %></td> </p>
        <p class="show"style="width: 18rem;"  <td><%= link_to ' Show ', project %></td>  </p>
        <p class="edit"style="width: 18rem;" <td><%= link_to ' Edit ', edit_project_path(project) %></td> </p>
        <p class="delete"style="width: 18rem;" <td><%= link_to ' Destroy ', project, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
     
   
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-light"> <%= link_to 'New Project', new_project_path %> </button>


